<div class="Id0Rh" *ngIf="loading" style="margin-top:300px">
    <div class="Igw0E IwRSH YBx95 _4EzTm _9qQ0O ZUqME"
         style="height: 32px; width: 32px;">
        <svg class="By4nA"
             viewBox="0 0 100 100">
            <rect fill="#555555"
                  height="6"
                  opacity="0"
                  rx="3"
                  ry="3"
                  transform="rotate(-90 50 50)"
                  width="25"
                  x="72"
                  y="47">
            </rect>
            <rect fill="#555555"
                  height="6"
                  opacity="0.08333333333333333"
                  rx="3"
                  ry="3"
                  transform="rotate(-60 50 50)"
                  width="25"
                  x="72"
                  y="47">
            </rect>
            <rect fill="#555555"
                  height="6"
                  opacity="0.16666666666666666"
                  rx="3"
                  ry="3"
                  transform="rotate(-30 50 50)"
                  width="25"
                  x="72"
                  y="47">
            </rect>
            <rect fill="#555555"
                  height="6"
                  opacity="0.25"
                  rx="3"
                  ry="3"
                  transform="rotate(0 50 50)"
                  width="25"
                  x="72"
                  y="47">
            </rect>
            <rect fill="#555555"
                  height="6"
                  opacity="0.3333333333333333"
                  rx="3"
                  ry="3"
                  transform="rotate(30 50 50)"
                  width="25"
                  x="72"
                  y="47">
            </rect>
            <rect fill="#555555"
                  height="6"
                  opacity="0.4166666666666667"
                  rx="3"
                  ry="3"
                  transform="rotate(60 50 50)"
                  width="25"
                  x="72"
                  y="47">
            </rect>
            <rect fill="#555555"
                  height="6"
                  opacity="0.5"
                  rx="3"
                  ry="3"
                  transform="rotate(90 50 50)"
                  width="25"
                  x="72"
                  y="47">
            </rect>
            <rect fill="#555555"
                  height="6"
                  opacity="0.5833333333333334"
                  rx="3"
                  ry="3"
                  transform="rotate(120 50 50)"
                  width="25"
                  x="72"
                  y="47">
            </rect>
            <rect fill="#555555"
                  height="6"
                  opacity="0.6666666666666666"
                  rx="3"
                  ry="3"
                  transform="rotate(150 50 50)"
                  width="25"
                  x="72"
                  y="47">
            </rect>
            <rect fill="#555555"
                  height="6"
                  opacity="0.75"
                  rx="3"
                  ry="3"
                  transform="rotate(180 50 50)"
                  width="25"
                  x="72"
                  y="47">
            </rect>
            <rect fill="#555555"
                  height="6"
                  opacity="0.8333333333333334"
                  rx="3"
                  ry="3"
                  transform="rotate(210 50 50)"
                  width="25"
                  x="72"
                  y="47">
            </rect>
            <rect fill="#555555"
                  height="6"
                  opacity="0.9166666666666666"
                  rx="3"
                  ry="3"
                  transform="rotate(240 50 50)"
                  width="25"
                  x="72"
                  y="47">
            </rect>
        </svg>
    </div>
</div>
<header class="id8oV _6pbJJ" *ngIf="!loading">
    <div class="T7reQ _0FuTv pkWJh">
        <div aria-label="開啟限時動態" class="aoVrC D1yaK" role="button" tabindex="0">
            <canvas class="CfWVH"
                    height="273"
                    width="273"
                    style="position: absolute;top: -15px;left: -15px;width: 107px;height: 107px;"
                    #canvas></canvas>

            <div class="FuWoR j44N4 zlwcS _0mzm-" style="width: 77px; height: 77px;">
                <span class="glyphsSpriteHashtag_outline_24_grey_9 u-_7" aria-label="主題標籤"></span>
            </div>
        </div>
    </div>
    <div class="WSpok">
        <div class="f7QXd  HfISj">
            <div class="Igw0E IwRSH eGOV_ _4EzTm _22l1">
                <span class="-nal3">
                    <span class="g47SY "></span> 品項
                </span>
            </div>
        </div>
    </div>
</header>
<article class="KC1QD">
    <div class="EZdmt">
        <h2 class="yQ0j1">
            <div class="Saeqz">相關品項</div>
            <itemsListTemplete></itemsListTemplete>
        </h2>
    </div>
</article>