<div class="Id0Rh" *ngIf="loading" style="margin-top:300px">
    <div class="Igw0E IwRSH YBx95 _4EzTm _9qQ0O ZUqME"
         style="height: 32px; width: 32px;">
        <loading [size]="32"></loading>
    </div>
</div>
<input type="file" (change)="uploadExcel($event)" multiple="false" hidden #hiddenUpload />
<div class="v9tJq VfzDr"
     *ngIf="!loading&&(recipe$|async)">
    <a *ngIf="!appService.mobile"
       (click)="appService.action$.next('上頁')"
       style="top: 40px;position: absolute;cursor:pointer">返回</a>
    <header class="HVbuG"
            *ngIf="appService.mobile">
        <div style="width:350px;font-weight: 900;border-radius:40%;position:absolute;top:-35px;font-size: 100px;line-height: 100px;right:-15px;color: #F8AC59;opacity: .2;text-align: right;">配方<br />Recipe</div>
        <div class="XjzKX">
            <div class="RR-M- h5uC0"
                 role="button"
                 tabindex="0">
                <canvas class="CfWVH"
                        height="273"
                        width="273"
                        style="position: absolute;top: -15px;left: -15px;width: 107px;height: 107px;"
                        #canvas></canvas>
                <span class="_2dbep"
                      role="link"
                      tabindex="0"
                      style="width: 77px; height: 77px;">
                    <img [appLazyLoad]
                         *ngIf="(recipe$|async)._photo"
                         style="object-fit: cover;width:75px;height:75px"
                         src="{{appService.filesUrl}}/{{(recipe$|async)._photo}}"
                         alt="{{(recipe$|async).value}}"
                         onerror="this.src='assets/noPhoto.png';" />
                    <img [appLazyLoad]
                         *ngIf="!(recipe$|async)._photo"
                         style="object-fit: cover;width:75px;height:75px"
                         src="assets/noPhoto.png">
                </span>
            </div>
        </div>
        <section class="zwlfE">
            <div class="nZSzR" style="margin-bottom:0">
                <h1 class="_7UhW9 fKFbl yUEEX KV-D4 fDxYl">
                    {{(recipe$|async).no}}
                </h1>
                <div class="AFWDX">
                    <button class="dCJp8 afkep" (click)="more()">
                        <span aria-label="選項" class="glyphsSpriteMore_horizontal_outline_24_grey_9 u-_7"></span>
                    </button>
                </div>
            </div>
        </section>
    </header>
    <header class="vtbgv"
            *ngIf="!appService.mobile">
        <div style="width:350px;font-weight: 900;border-radius:40%;position:absolute;top:-35px;font-size: 100px;line-height: 100px;right:-15px;color: #F8AC59;opacity: .2;text-align: right;">配方<br />Recipe</div>
        <div class="XjzKX">
            <div class="RR-M- h5uC0" role="button" tabindex="0">
                <canvas class="CfWVH"
                        height="273"
                        width="273"
                        style="position: absolute;top: -25px;left: -25px;width: 200px;height: 200px;"
                        #canvas></canvas>
                <span class="_2dbep"
                      role="link"
                      tabindex="0"
                      style="width: 150px; height: 150px;">
                    <img [appLazyLoad]
                         style="object-fit: cover;width:150px;height:150px"
                         *ngIf="(recipe$|async)._photo"
                         src="{{appService.filesUrl}}/{{(recipe$|async)._photo}}"
                         alt="{{(recipe$|async).value}}"
                         onerror="this.src='assets/noPhoto.png';">
                    <img [appLazyLoad]
                         style="object-fit: cover;width:150px;height:150px"
                         *ngIf="!(recipe$|async)._photo"
                         src="assets/noPhoto.png"
                         alt="{{(recipe$|async).value}}">
                </span>
            </div>
        </div>
        <section class="zwlfE">
            <div class="nZSzR">
                <h1 class="_7UhW9 fKFbl yUEEX KV-D4 fDxYl">{{(recipe$|async).no}}</h1>
                <div class="AFWDX">
                    <button class="dCJp8 afkep" (click)="more()">
                        <span aria-label="選項" class="glyphsSpriteMore_horizontal_outline_24_grey_9 u-_7"></span>
                    </button>
                </div>
            </div>
        </section>
    </header>
    <div class="fx7hk">
        <a class="_9VEo1"
           *ngFor="let attribute of attributes$ | async"
           [ngClass]="{'T-jvg':(mode$|async)===attribute.code}"
           (click)="setMode(attribute.code)">
            <span class="smsjF">
                <div class="coreSpriteDesktopPhotoGridActive"></div>
                <span class="PJXu4">{{attribute.value}}</span>
            </span>
        </a> <!-- -->
        <!--
        <a class="_9VEo1"
           [ngClass]="{'T-jvg':(mode$|async)==='availableWorkStations'}"
           (click)="setMode('availableWorkStations')">
            <span class="smsjF">
                <div class="coreSpriteDesktopProfileIGTV"></div>
                <span class="PJXu4">可用工作站點</span>
            </span>
        </a>
        <a class="_9VEo1"
           [ngClass]="{'T-jvg':(mode$|async)==='outputs'}"
           (click)="setMode('outputs')">
            <span class="smsjF">
                <div class="coreSpriteDesktopProfileSave"></div>
                <span class="PJXu4">輸出品項與數量單位</span>
            </span>
        </a>-->
    </div>
    <section class="_1SP8R M_qbh">
        <relationshipTargetsListTemplete [checkedAttributes]="checkedAttributes"></relationshipTargetsListTemplete>
    </section>
    <!--
    <section class="_1SP8R M_qbh"
             *ngIf="(mode$|async)==='availableWorkStations'">
        <relationshipTargetsListTemplete [checkedAttributes]="checkedAttributes"></relationshipTargetsListTemplete>
    </section>
    <section class="_1SP8R M_qbh"
             *ngIf="(mode$|async)==='outputs'">
        <relationshipTargetsListTemplete [checkedAttributes]="checkedAttributes"></relationshipTargetsListTemplete>
    </section>-->
</div>




























