<div class="cDEf6"
     role="button"
     tabindex="0"
     style="bottom: 81px"
     *ngIf="focused&&IpSxo&&autocomplete">
    <div class="_blur"
         (click)="blur()"></div>
</div>
<div class="BAJFR _0fVVZ"
     [ngClass]="{'_info':isNewItem,'_0fVVZ':!focused,'LaVsc':focused}"
     *ngIf="Bbciv">
    <div class="MMe53">
        <textarea placeholder="標籤"
                  style="height:48px;padding:2px 18px 2px 0"
                  class="_472V_"
                  rows="3"
                  maxlength="2200"
                  autocomplete="off"
                  (blur)="blur()"
                  (focus)="focus()"
                  [(ngModel)]="itemDescription"
                  (keyup)="searchCategories($event)"
                  autocorrect="off"></textarea>
    </div>
    <div class="W1Bne zKxRE"
         style="right:10px;left:auto;z-index:3"
         *ngIf="loading"></div>
    <div class="coreSpriteSearchClear"
         role="button"
         *ngIf="focused"
         (mouseover)="hoverClear=true"
         (mouseleave)="hoverClear=false"
         style="right:10px;position:absolute;z-index:10"
         tabindex="0"></div>
    <div *ngIf="focused"
         style="width:calc(100% + 28px);position:absolute;top:86px;left:-14px">
        <div class="VR6_Q"
             *ngIf="autocomplete&&categorySelects.length>0"></div>
        <div class="drKGC"
             *ngIf="autocomplete&&categorySelects.length>0">
            <div class="fuqBx">
                <a class="yCE8d"
                   *ngFor="let categorySelect of categorySelects"
                   [ngClass]="{'JvDyy':hoverId===categorySelect.id}"
                   (mouseover)="hoverId=categorySelect.id"
                   (mouseleave)="hoverId=null"
                   (click)="click(categorySelect)">
                    <div class="z556c">
                        <div class="RR-M- h5uC0 g9vPa"
                             role="button"
                             tabindex="0">
                            <canvas class="CfWVH"
                                    height="42"
                                    width="42"
                                    style="position:absolute;top:-5px;left:-5px;width:42px;height:42px"></canvas>
                            <span class="_2dbep"
                                  role="link"
                                  tabindex="0"
                                  style="width: 32px; height: 32px;">
                                <div style="position:absolute;top:0;left:0;bottom:0;right:0;z-index:-1;height:10000px">
                                    Text to have as background
                                </div>
                            </span>
                        </div>
                        <div class="_2_M76">
                            <div class="uyeeR">
                                <span class="Ap253">{{categorySelect.value}}</span>
                            </div>
                            <span class="Fy4o8">{{categorySelect.itemQuantity}} 品項</span>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="NfvXc"
     *ngIf="IpSxo">
    <label class="f0n8F FATdn"
           [ngClass]="{'FATdn':focused||itemDescription.length>0 }">
        <span class="_9nyy2"
              [ngClass]="{'_info':isNewItem}">
            {{title}}標籤
        </span>
    </label>
    <textarea style="top:20px;position:absolute;width:100%;padding:0"
              class="_472V_"
              autocomplete="off"
              (focus)="focus()"
              (blur)="blur2()"
              [(ngModel)]="itemDescription"
              (keyup)="searchCategories($event)"
              autocorrect="off"></textarea>
</div>
<div class="cDEf6"
     role="button"
     tabindex="0"
     style="top:81px"
     *ngIf="focused&&IpSxo&&autocomplete">
    <div class="TjnKz">
        <div class="BYCcJ">
            <div class="DxLdn"
                 *ngIf="loading">
                <div class="W1Bne ztp9m cjQl0"></div>
            </div>
            <div class="ZmQHO _-7iV1">
                <button class="Eo_F0" 
                        *ngFor="let categorySelect of categorySelects" 
                        (click)="click(categorySelect)">
                    <div class="vBdNO">
                        <span class="IEk8l">{{categorySelect.value}}</span>
                        <div class="AfmgG">
                            <span class="">
                                <span class="">{{categorySelect.itemQuantity}}</span> 品項
                            </span>
                        </div>
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div style="height:100%;width:100%"
         (click)="blur()"></div>
</div>