<div style="padding: 15px">
    <form [formGroup]="aspNetUser" (ngSubmit)="login(aspNetUser.value)">
        <mat-card>
            <mat-card-title>
                裕浤科技
            </mat-card-title>

            <mat-card-content>

                <mat-form-field class="full-width">
                    <input matInput placeholder="帳號" [formControl]="aspNetUser.controls['value']" [errorStateMatcher]="matcher" />

                    <mat-hint align="end">帳號格式正確!</mat-hint>
                    <mat-error align="end" *ngIf="aspNetUser.controls['value'].hasError('minlength') && !aspNetUser.controls['value'].hasError('required')">
                        帳號長度不得小於6
                    </mat-error>
                    <mat-error align="end" *ngIf="aspNetUser.controls['value'].hasError('required')">
                        帳號是<strong>必填欄位</strong>
                    </mat-error>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <input matInput placeholder="密碼" [formControl]="aspNetUser.controls['password']" type="password" />
                </mat-form-field>

            </mat-card-content>
            <mat-card-actions align="end">
                <button mat-button color="accent" type="submit" [disabled]="!aspNetUser.valid">登入</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>

