<h2 mat-dialog-title>
    新增詢價項目
</h2>
<mat-dialog-content class="post-form">
    <mat-form-field>
        <input type="text" placeholder="品項" matInput (keyup)="search($event.target.value)" [matAutocomplete]="auto">
        <button matSuffix mat-icon-button (click)="recipeAppendDialog()">
            <mat-icon>add</mat-icon>
        </button>
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectRecipe($event.option.value)" [displayWith]="displayRecipe">
            <mat-option *ngFor="let recipe of filteredRecipes$ | async" [value]="recipe">
                <span>{{ recipe.value }}</span>
                <small> | code: {{recipe.code}}</small>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="數量" type="number" [(ngModel)]="inquiry.quantity" />
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="期望單價" type="number" [(ngModel)]="inquiry.price" />
        <span matPrefix>$&nbsp;</span>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="期望交期" [(ngModel)]="inquiry.delivery" />
    </mat-form-field>
    <mat-form-field>
        <textarea matInput placeholder="備註" rows="4" [(ngModel)]="inquiry.remark"></textarea>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button color="primary" [mat-dialog-close]="inquiry" cdkFocusInitial>儲存</button>
    <button mat-button mat-dialog-close color="warn">取消</button>
</mat-dialog-actions>
