canvas {
    display: none;
}

hr {
    margin-top: 32px;
}

input[type="file"] {
    display: block;
    margin-bottom: 16px;
}

div {
    margin-bottom: 16px;
}

video {
    border: none;
    object-fit: cover;
    position: absolute;
    top: 0;
    position: relative;
    transform: translateY(-40%);
    top: 40%;
}
