.scroll-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 15px;
    left: 15px;
    padding: 8px;
    opacity: 0;
    transition: all .2s ease-in-out;
    background-color: white;
    z-index: 9999;
    border-radius: 8px;
}

.displayNone{
    display:none;
}
@media (max-width:735px) {
    .scroll-to-top {
        bottom: 55px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    }
}
.show-scrollTop {
    opacity: 1;
    
    transition: all .2s ease-in-out;
}
