.buttons {
    height: 260px
}

    .buttons > button:hover {
        background-color: azure;
    }

    .buttons > button:first-child {
        border-top: none;
    }
.container {
    flex-wrap: wrap;
    flex-direction: row;
    display: -webkit-inline-box;
    display: inline-flex;
    flex-wrap: wrap;
    padding: 0;
    vertical-align: top;
}
    .container label {
        color: #262626;
    } 

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.hasError{
    opacity:.6;
}
th, td {
    cursor: pointer;
    text-align: left;
    padding: 8px;
    vertical-align: top;
}

thead tr {
    background-color: #F5F5F5;
}
/*
tbody tr {
    cursor: pointer
}*/
tbody tr:hover {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.disabled{
    opacity:.2;
}
/******CheckBox********/
.U17kh {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    color: #999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px
}

.yVvXQ {
    color: #262626;
    font-weight: 600
}

.drKGC{
    left:0;
    margin-left:0;
    width: 100%;
    top:6px;
}
    .drKGC::after {
        left:calc(50% - 10px);
    }

.VR6_Q {
top:0;
}


/*******/
.aOOlW:last-of-type {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0
}


