<div class="_08v79" *ngIf="item">
    <div class="_7UhW9 xLCgt MMzan _0PwGv uL8Hv">
        <span *ngIf="isNew">新增品項</span>
        <span *ngIf="!isNew">編輯『{{itemValue}}』</span>
    </div>
    <div class="dsJ8D">
        <div class="xlTJg">
            <div class="G3yoz"
                 style="border-radius: 0;cursor:pointer;min-height:150px"
                 title="變更品項圖片"
                 (click)="changePhoto()">
                <img [appLazyLoad]
                     *ngIf="item.photo&&item.photo!=='converting'"
                     width="150"
                     height="150"
                     src="{{appService.filesUrl}}/{{item.photo}}"
                     title="{{itemPhoto}}"
                     style="object-fit:cover"
                     onerror="this.src='assets/noPhoto.png';" />
                <div class="lVhHa o92ps Nil0v"
                     style="display: block;padding-top: 100%;width: 150px;height:150px;margin-bottom: 0"
                     *ngIf="!item.photo">
                    <div class="yPom5">
                        <div class="SJ1H9"></div>
                        <div class="felixSpriteWebUploadNullAdd"></div>
                        <div class="t3CGe">  </div><div class="-STpJ">無圖片</div>
                    </div>
                </div>
            </div>
            <div class="_9qQ0O"
                 *ngIf="uploading"
                 style="height: 32px; width: 32px">
                <svg class="By4nA" viewBox="0 0 100 100">
                    <rect fill="#555555" height="6" opacity="0" rx="3" ry="3" transform="rotate(-90 50 50)" width="25" x="72" y="47"></rect>
                    <rect fill="#555555" height="6" opacity="0.08333333333333333" rx="3" ry="3" transform="rotate(-60 50 50)" width="25" x="72" y="47"></rect>
                    <rect fill="#555555" height="6" opacity="0.16666666666666666" rx="3" ry="3" transform="rotate(-30 50 50)" width="25" x="72" y="47"></rect>
                    <rect fill="#555555" height="6" opacity="0.25" rx="3" ry="3" transform="rotate(0 50 50)" width="25" x="72" y="47"></rect>
                    <rect fill="#555555" height="6" opacity="0.3333333333333333" rx="3" ry="3" transform="rotate(30 50 50)" width="25" x="72" y="47"></rect>
                    <rect fill="#555555" height="6" opacity="0.4166666666666667" rx="3" ry="3" transform="rotate(60 50 50)" width="25" x="72" y="47"></rect>
                    <rect fill="#555555" height="6" opacity="0.5" rx="3" ry="3" transform="rotate(90 50 50)" width="25" x="72" y="47"></rect>
                    <rect fill="#555555" height="6" opacity="0.5833333333333334" rx="3" ry="3" transform="rotate(120 50 50)" width="25" x="72" y="47"></rect>
                    <rect fill="#555555" height="6" opacity="0.6666666666666666" rx="3" ry="3" transform="rotate(150 50 50)" width="25" x="72" y="47"></rect>
                    <rect fill="#555555" height="6" opacity="0.75" rx="3" ry="3" transform="rotate(180 50 50)" width="25" x="72" y="47"></rect>
                    <rect fill="#555555" height="6" opacity="0.8333333333333334" rx="3" ry="3" transform="rotate(210 50 50)" width="25" x="72" y="47"></rect>
                    <rect fill="#555555" height="6" opacity="0.9166666666666666" rx="3" ry="3" transform="rotate(240 50 50)" width="25" x="72" y="47"></rect>
                </svg>
            </div>

        </div>
    </div>
    <div class="_7UhW9 xLCgt MMzan _0PwGv uL8Hv">
        <div class="container" style="width:calc(100% - 25px)">
            <div class="container" style="width:40px"><span style="margin: 7px 0">名稱</span></div>
            <div class="container" style="width:calc(100% - 40px)">
                <input [(ngModel)]="item.value"
                       type="text"
                       (keyup)="keyup1($event.target.value)"
                       placeholder="名稱"
                       style="border:1px solid #efefef;width: 100%;padding: 6px; margin:0">
                <span style="color:red;margin: 0 0 7px 0">{{error1}}</span>
            </div>
        </div>
        <div class="container" style="width:calc(100% - 25px)">
            <div class="container" style="width:40px"><span style="margin: 7px 0">代碼</span></div>
            <div class="container" style="width:calc(100% - 40px)">
                <input [(ngModel)]="item.code"
                       type="text"
                       (keyup)="keyup2($event.target.value)"
                       placeholder="代碼"
                       style="border:1px solid #efefef;width: 100%;padding: 6px; margin:0">
                <span style="color:red;margin: 0 0 7px 0">{{error2}}</span>
            </div>
        </div>
        <div class="container" style="width:calc(100% - 25px)">
            <div class="container" style="width:40px"><span style="margin: 7px 0">分類</span></div>
            <div class="container" style="width:calc(100% - 40px)">
                <textarea [(ngModel)]="item.description"
                          type="text"
                          placeholder="分類"
                          style="border:1px solid #efefef;width: 100%;padding: 6px; margin:0 0 5px 0"></textarea>
            </div>
        </div>
        <div class="container" style="width:calc(100% - 25px)">
            <div class="container" style="width:40px"><span>狀態</span></div>
            <div class="container" style="width:calc(100% - 40px)">
                <div class="container" style="width:75px">
                    <input id="disable"
                           type="checkbox"
                           class="tlZCJ"
                           (change)="changeDisable()"
                           [(ngModel)]="disable">
                    <div class="mwD2G" (click)="clickDisable()"></div>
                    <label for="disable">
                        停用
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="mt3GC">
    <button class="aOOlW -Cab_" tabindex="0" [ngClass]="{'hasError':(locked||error1!==''||error2!=='')}" *ngIf="isNew" [disabled]="locked||error1!==''||error2!==''" (click)="create()">新增</button>
    <button class="aOOlW -Cab_" tabindex="0" [ngClass]="{'hasError':(locked||error1!==''||error2!=='')}" *ngIf="!isNew" [disabled]="locked||error1!==''||error2!==''" (click)="update()">更新</button>
    <button class="aOOlW HoLwm" tabindex="0" (click)="cancel()">取消</button>
</div>
<input accept="image/*"
       class="YeWti"
       type="file"
       #createFileInput
       (change)="uploadPhoto($event)">