
.Y2E37 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 0
}

.UP43G {
    color: #3897f0;
}

    .UP43G:disabled {
        opacity: .3
    }

.UP43G, .qXyTW {
    background: 0 0;
    border: 0;
    display: block;
    font-size: 16px;
    font-weight: 600;
    padding: 0;
    margin: 0
}

.Bc-AD, .c4yYn {
    left: 0;
    padding-bottom: 45px;
    position: absolute;
    right: 0;
    top: 0
}

.swAV9 {
    opacity: 0;
    pointer-events: none;
    visibility: hidden
}

.Ecl-t {
    background-color: #fff;
    border: 0;
    bottom: 0;
    height: 44px;
    left: 0;
    position: fixed;
    right: 0;
    top: auto;
    z-index: 10
}



.Zxlmg {
    background: None;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.0975);
    color: #999;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    font-size: 14px;
    font-weight: 400
}

    .Zxlmg:active {
        opacity: 1
    }

.NaYQD.Zxlmg {
    border-top-color: #262626;
    color: #262626;
    font-weight: 600
}

._16j19 {
    -ms-touch-action: none;
    touch-action: none;
    display: block
}

.Iv5U2 {
    padding-bottom: 100%;
    -webkit-user-select: none
}

.jySKW {
    border-bottom: 1px solid #dbdbdb
}

.QbqMy {
    background-color: #fff;
    border-bottom: 1px solid #dbdbdb;
    display: block;
    position: relative;
    width: 100%
}

.gH2iS {
    margin-top: 44px
}

.RxjQs, ._9gMUf {
    background-repeat: no-repeat
}

._9gMUf {
    background-color: #fff;
    bottom: 0;
    display: block;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0
}

.RxjQs {
    background-position: center;
    background-size: cover;
    will-change: height,left,top,width,transform
}

.l4jJL {
    width: 100%;
    position: relative;
    padding-bottom: 100%
}

.qLOh1 {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0
}

._rtmV {
    margin: auto;
    max-width: 100%;
    max-height: 100%
}

.PDNx9 {
    -webkit-overflow-scrolling: touch;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 16px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

    .PDNx9::before {
        width: 0;
        content: '\00a0';
        padding-left: 13px
    }

    .PDNx9::after {
        width: 0;
        content: '\00a0';
        padding-right: 13px
    }

.cwqzn {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background: 0 0;
    border: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    outline: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.fq6ji {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    padding: 0 3px
}


._92vIh {
    color: #999;
    font-size: 12px;
    font-weight: 400;
    line-height: 14px;
    padding-bottom: 10px;
    text-align: center
}

.kEGzq {
    color: #262626;
    font-weight: 600
}

.mMFZu {
    background-color: #efefef;
    height: 100px;
    -webkit-transition: -webkit-transform .05s ease-out;
    transition: transform .05s ease-out;
    transition: transform .05s ease-out,-webkit-transform .05s ease-out;
    width: 100px
}

    .mMFZu:active {
        -webkit-transform: scale(.95);
        transform: scale(.95)
    }

.hEV0_, .pHnkA {
    background-color: transparent;
    border: 0;
    bottom: 16px;
    outline: 0;
    position: absolute;
    padding: 0;
    z-index: 2
}

.pHnkA {
    left: 16px
}

.hEV0_ {
    right: 16px
}

.haDwD {
    height: 100%;
    pointer-events: none
}

.Szr5J {
    display: block;
    overflow: hidden;
    text-indent: 110%;
    white-space: nowrap
}

/********createSpriteExpand**********************/
.createSpriteExpand, .createSpriteFiltersUpsell, .createSpriteRotate {
    background-image: url(/assets/a7a3878c7d9e.png)
}

.createSpriteExpand {
    background-repeat: no-repeat;
    background-position: -60px 0;
    height: 30px;
    width: 30px
}

.createSpriteFiltersUpsell, .createSpriteRotate {
    background-repeat: no-repeat;
    background-position: 0 0;
    height: 58px;
    width: 58px
}

.createSpriteRotate {
    background-position: 0 -60px;
    height: 30px;
    width: 30px
}

@media (min-device-pixel-ratio:1.5),(-webkit-min-device-pixel-ratio:1.5),(min-resolution:144dpi) {
    .createSpriteExpand, .createSpriteFiltersUpsell, .createSpriteRotate {
        background-image: url(/assets/ad1ddfdf73c7.png)
    }

    .createSpriteExpand {
        background-size: 89px 89px;
        background-position: -59px 0
    }

    .createSpriteFiltersUpsell, .createSpriteRotate {
        background-size: 89px 89px;
        background-position: 0 0
    }

    .createSpriteRotate {
        background-position: 0 -59px
    }
}

/**************/


.A9bvI {
    border-top: 1px solid #efefef;
    position: relative
}

.NfvXc {
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    overflow: hidden;
    width: 100%
}

.GsWMc, .IpSxo, .Suw8v {
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}



._2OfRz {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    border-left: none;
    border-right: none;
    border-top: 1px solid #efefef;
    color: #262626;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 44px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 16px;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 12px;
    padding: 0
}

._7xQkN {
    margin-left: 16px
}

.pbpTR {
    margin: 0 16px;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}



._472V_ {
    background: 0 0;
    border: 0;
    color: #262626;
    font-size: 14px;
    outline: 0;
    padding: 2px 0 0 0;
    line-height: 18px;
    height: 48px;
    overflow: auto;
    overflow-wrap: break-word;
    resize: none
}

    ._472V_::-webkit-input-placeholder {
        color: #999;
        font-size: 16px
    }

    ._472V_:-ms-input-placeholder, ._472V_::-ms-input-placeholder {
        color: #999;
        font-size: 16px
    }

    ._472V_::placeholder {
        color: #999;
        font-size: 16px
    }

.g5kp1 {
    height: 48px;
    min-width: 48px;
    position: relative;
    overflow: hidden
}

.FuaTR {
    background-color: #efefef;
    -o-object-fit: cover;
    object-fit: cover;
    height: 48px;
    width: auto
}

._5VUwz {
    margin-left: 16px
}

._49XvD {
    margin-top: 12px
}

._56XdI {
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start
}

/*******readField*******/

.sO6Tn {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: #fff;
    border-bottom: 1px solid #efefef;
    border-top: 1px solid #efefef;
    color: #262626;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    height: 60px;
    margin-top: 12px;
    white-space: nowrap;
    width: 100%
}

._8jRG7, .uoX1A {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex
}

._8jRG7 {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center
}

.uoX1A {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-flex: 1;
    -webkit-flex-grow: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    font-size: 14px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-left: 16px;
    min-width: 0;
    text-align: left
}

.g1xg1, .s08qg {
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis
}

.g1xg1 {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    font-size: 16px;
    color: #262626
}

.s08qg {
    color: #999
}

.WGsV5 {
    background-color: transparent;
    border: 0;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-right: 16px;
    margin-left: 16px;
    padding: 0
}

/****¤â¾÷¿ïtag*****/
.ZmQHO {
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
    -webkit-overflow-scrolling: touch
}

._-7iV1 {
    max-height: 400px
}

.cjQl0 {
    top: 50%
}

.cDEf6 {
    background: rgba(0,0,0,.4);
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    z-index: 1;
    height: 1200px;
    width: calc(100% + 2px);
    left: -1px;
}

    .cDEf6 ._blur {
        height: 100%;
    }

.TjnKz {
    position: absolute;
    width: 100%;
    height: 50px;
}

.BYCcJ {
    background: #fff;
    width: 100%;
    z-index: 1
}

.DxLdn {
    height: 200px
}



Typea.AfmgG {
    color: #999;
    font-weight: 400;
    overflow: hidden;
    text-overflow: ellipsis
}

.Eo_F0, .IEk8l, .oTo4c, .vBdNO {
    -webkit-box-direction: normal
}

.vBdNO {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 1;
    -ms-flex-negative: 1;
    flex-shrink: 1;
    font-size: 14px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    min-width: 0;
    text-align: left;
    -webkit-box-orient: vertical;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column
}

.IEk8l, .oTo4c {
    -webkit-box-orient: horizontal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row
}

.IEk8l {
    color: #262626;
    font-weight: 600;
    overflow: hidden;
    text-overflow: ellipsis
}

.oTo4c {
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-shrink: 0;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

.gdj5j {
    margin-top: 20px
}
