.mat-card {
    max-width: 1024px;
    margin: 10% auto;
}

    .mat-card .full-width {
        width: 100%;
    }

.example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
}
