<nav class="navbar navbar-static-top" role="navigation" style="padding: 0px">
    <div class="navbar-header">
        <button aria-controls="navbar" aria-expanded="false" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button">
            <i class="fa fa-reorder"></i>
        </button>
        <a [routerLink]="['./mainView']" class="navbar-brand">RichEasy</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar" style="height: 34px">
      <!--  <ul class="nav navbar-nav">
            <li [ngClass]="{'active': activeLink==1}" (click)="activeLink=1">
                <a data-toggle="dropdown"> 系統管理<span class="caret"></span></a>
                <ul class="dropdown-menu animated fadeIn m-t-xs">
                    <li><a [routerLink]="['./system/users']"> 帳號維護</a></li>
                    <li><a [routerLink]="['./system/roles']"> 角色維護</a></li>
                    <li><a [routerLink]="['./system/mobile']"> 參數維護</a></li>
                </ul>
            </li>
            <li [ngClass]="{'active': activeLink==2}" (click)="activeLink=2">
                <a data-toggle="dropdown"> 生產管理<span class="caret"></span></a>
                <ul class="dropdown-menu animated fadeIn m-t-xs">
                    <li><a [routerLink]="['./marketing']"> 供應商維護(Group)</a></li>
                    <li><a [routerLink]="['./production/inventories']"> 存量紀錄(Inventory)</a></li>
                    <li><a [routerLink]="['./production/materials']"> 物料維護(Material)</a></li>
                    <li><a [routerLink]="['./production/storages']"> 儲格維護(Storage)</a></li>
                    <li><a [routerLink]="['./production']"> 工序維護(Procedure)</a></li>
                </ul>
            </li>
            <li [ngClass]="{'active': activeLink==3}" (click)="activeLink=3">
                <a data-toggle="dropdown"> 銷售管理<span class="caret"></span></a>
                <ul class="dropdown-menu animated fadeIn m-t-xs">
                    <li><a [routerLink]="['./marketing/groups']"> 客戶維護(Group)</a></li>
                    <li><a [routerLink]="['./marketing/enquiries']"> 詢價紀錄(Enquiry)</a></li>
                    <li><a [routerLink]="['./marketing/quotations']"> 報價議價(Quotation)</a></li>
                    <li><a [routerLink]="['./marketing/orders']"> 訂單紀錄(Order)</a></li>
                </ul>
            </li>
            <li [ngClass]="{'active': activeLink==4}" (click)="activeLink=4">
                <a data-toggle="dropdown"> 人資管理<span class="caret"></span></a>
                <ul class="dropdown-menu animated fadeIn m-t-xs">
                    <li><a [routerLink]="['./resource']"> 員工維護(Employee)</a></li>
                </ul>
            </li>
            <li [ngClass]="{'active': activeLink==5}" (click)="activeLink=5">
                <a data-toggle="dropdown"> 掃一掃<span class="caret"></span></a>
                <ul class="dropdown-menu animated fadeIn m-t-xs"></ul>
            </li>
        </ul>-->
        <ul class="nav navbar-top-links navbar-right" *ngIf="selectedProfile">
            <li>
                您好! {{selectedProfile.value}}({{selectedProfile.profileGroup.target.value}})
            </li>
            <li>

                <a (click)="logout()">
                    <i class="fa fa-sign-out"></i> 登出
                </a>
            </li>
        </ul>
    </div>
</nav>

