/******CheckBox********/
.U17kh {
    -webkit-box-align: center;
    -webkit-align-recipes: center;
    -ms-flex-align: center;
    align-recipes: center;
    color: #999;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    font-size: 14px;
    font-weight: 400;
    line-height: 14px
}

.yVvXQ {
    color: #262626;
    font-weight: 600
}

.drKGC{
    left:0;
    margin-left:0;
    width: 100%;
    top:6px;
}
    .drKGC::after {
        left:calc(50% - 10px);
    }

.VR6_Q {
top:0;
}
