<configuration>
	<system.webServer>
		<rewrite>
			<rules>
				<rule name="Angular" stopProcessing="true">
					<match url=".*"/>
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true"/>
						<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true"/>
					</conditions>
					<action type="Rewrite" url="/"/>
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
	<!--
		如需 web.config 變更的說明，請參閱 http://go.microsoft.com/fwlink/?LinkId=235367。

		您可以在 <httpRuntime> 標記上設定下列屬性。
			<system.Web>
				<httpRuntime targetFramework="4.6.1" />
			</system.Web>
	-->
	<system.web>
		<compilation targetFramework="4.6.1"/></system.web></configuration>
