<input placeholder="🔎簡易篩選"
       class="search"
       (keyup)="filterCategoryAttributes($event.target.value)" />
<span *ngIf="loading">
    搜尋中...
    <loading></loading>
</span>
<span *ngIf="!loading">    搜尋結果 {{resultCount}} 筆</span>
<scrollTop></scrollTop>
<a style="position: absolute; right: 7px; top: 7px; cursor: pointer" (click)="Attribute()">+新增</a>
<!--
<span style="position:fixed; top:1;background-color:aquamarine">loadingMore: {{loadingMore}},maxPage: {{maxPage}}<br />pageIndex: {{pageIndex}},categorysLength: {{categorys.length}}</span>
-->
<table #exportTable *ngIf="!appService.mobile">
    <thead>
        <tr>
            <th style="width:140px" (click)="sort('target.value')">名稱<span *ngIf="orderBy==='target.value'"><span *ngIf="!descending">▴</span><span *ngIf="descending">▾</span></span></th>
            <th style="width:140px" (click)="sort('target.code')">代碼<span *ngIf="orderBy==='target.code'"><span *ngIf="!descending">▴</span><span *ngIf="descending">▾</span></span></th>
            <th style="width: 28px" (click)="sort('target.valueType')">類型<span *ngIf="orderBy==='target.valueType'"><span *ngIf="!descending">▴</span><span *ngIf="descending">▾</span></span></th>
            <th>條件</th>
            <th style="width:40px" (click)="sort('target.valueNumber')">數量<span *ngIf="orderBy==='target.valueNumber'"><span *ngIf="!descending">▴</span><span *ngIf="descending">▾</span></span></th>
            <th style="width:70px" (click)="sort('target.level')">必填<span *ngIf="orderBy==='target.level'"><span *ngIf="!descending">▴</span><span *ngIf="descending">▾</span></span></th>
            <th style="width:28px">動作</th>
            <th style="width:28px"></th>
            <th style="width:28px"></th>
        </tr>
        <div *ngIf="loading"
             class="loading">
            <loading [size]="32"></loading>
        </div>
    </thead>
    <tbody>
        <tr *ngFor="let categoryAttribute of categoryAttributes"
            (mouseover)="hoverId=categoryAttribute.id"
            (mouseleave)="hoverId=''">
            <td>
                <span [innerHTML]="categoryAttribute.target.value | highlight: anyLike"></span>
            </td>
            <td>
                <span [innerHTML]="categoryAttribute.target.code | highlight: anyLike"></span>
            </td>
            <td>
                <span [innerHTML]="categoryAttribute.target.valueType | highlight: anyLike"></span>
            </td>
            <td>
                <span *ngIf="categoryAttribute._conditions&&categoryAttribute._conditions.length>0">
                    <span *ngFor="let condition of categoryAttribute._conditions">
                        <span *ngIf="condition.type==='category'" style="cursor:pointer;color:#A300CF;margin:7px 0 0 0;font-weight:900"
                              [innerHTML]="condition.value | highlight: anyLike"
                              (click)="openCategory(condition.id)"></span>
                        <span *ngIf="condition.type==='item'" style="cursor:pointer;color:#1AB394;margin:7px 0 0 0;font-weight:900"
                              [innerHTML]="condition.value | highlight: anyLike"
                              (click)="openItem(condition.id)"></span>
                        <span *ngIf="condition.type==='inventory'" style="cursor:pointer;color:#F8AC59;margin:7px 0 0 0;font-weight:900"
                              [innerHTML]="condition.value | highlight: anyLike"
                              (click)="openInventory(condition.id)"></span><br />
                    </span>
                </span>
            </td>
            <td> <span [innerHTML]="categoryAttribute.target.valueNumber | highlight: anyLike"></span></td>
            <td>
                <span *ngIf="categoryAttribute.target.level===2">僅展示</span>
                <span *ngIf="categoryAttribute.target.level===3">展示且必填</span>
            </td>
            <td style="width:28px">
                <a *ngIf="hoverId===categoryAttribute.id"
                   style="cursor:pointer;color:#3897f0"
                   (click)="editCategoryAttribute(categoryAttribute)">編輯</a>
            </td>
            <td style="width:28px">
                <a *ngIf="hoverId===categoryAttribute.id"
                   style="cursor:pointer;color:#ed4956"
                   (click)="removeCategoryAttribute(categoryAttribute)">刪除</a>
            </td>
            <td style="width:28px">
            </td>
        </tr>
        <img [appLoadMore]
             *ngIf="!loading&&maxPage!==pageIndex&&maxPage!==0"
             width="32"
             height="32"
             style="margin-top:100px"
             src="assets/white.png"
             (onSeeMe)="load(1000)" />
    </tbody>
</table>
<table #exportTable *ngIf="appService.mobile">
    <thead>
        <tr>
            <th>
                <span (click)="sort('target.value')"
                      style="margin-right:10px">
                    名稱
                    <span *ngIf="orderBy!=='target.value'" style="color:#f5f5f5">▴</span>
                    <span *ngIf="orderBy==='target.value'&&!descending">▴</span>
                    <span *ngIf="orderBy==='target.value'&&descending">▾</span>
                </span>
                <span (click)="sort('target.code')"
                      style="margin-right:10px">
                    代碼
                    <span *ngIf="orderBy!=='target.code'" style="color:#f5f5f5">▴</span>
                    <span *ngIf="orderBy==='target.code'&&!descending">▴</span>
                    <span *ngIf="orderBy==='target.code'&&descending">▾</span>
                </span>
                <span (click)="sort('target.valueType')"
                      style="margin-right:10px">
                    類型
                    <span *ngIf="orderBy!=='target.valueType'" style="color:#f5f5f5">▴</span>
                    <span *ngIf="orderBy==='target.valueType'&&!descending">▴</span>
                    <span *ngIf="orderBy==='target.valueType'&&descending">▾</span>
                </span>
                <span (click)="sort('target.valueNumber')"
                      style="margin-right:10px">
                    數量
                    <span *ngIf="orderBy!=='target.valueNumber'" style="color:#f5f5f5">▴</span>
                    <span *ngIf="orderBy==='target.valueNumber'&&!descending">▴</span>
                    <span *ngIf="orderBy==='target.valueNumber'&&descending">▾</span>
                </span>
                <span (click)="sort('target.level')"
                      style="margin-right:10px">
                    必填
                    <span *ngIf="orderBy!=='target.level'" style="color:#f5f5f5">▴</span>
                    <span *ngIf="orderBy==='target.level'&&!descending">▴</span>
                    <span *ngIf="orderBy==='target.level'&&descending">▾</span>
                </span>
            </th>
            <th style="width:28px">動作</th>
        </tr>
        <div *ngIf="loading"
             class="loading">
            <loading [size]="32"></loading>
        </div>
    </thead>
    <tbody>
        <tr *ngFor="let categoryAttribute of categoryAttributes"
            [ngClass]="{'hoverId':hoverId===categoryAttribute.id}">
            <td>
                名稱: <span [innerHTML]="categoryAttribute.target.value | highlight: anyLike"></span><br />
                代碼: <span [innerHTML]="categoryAttribute.target.code | highlight: anyLike"></span><br />
                類型: <span [innerHTML]="categoryAttribute.target.valueType | highlight: anyLike"></span><br />
                數量: <span [innerHTML]="categoryAttribute.target.valueNumber.toString() | highlight: anyLike"></span><br />
                必填: <span *ngIf="categoryAttribute.target.level===2">僅展示</span>
                <span *ngIf="categoryAttribute.target.level===3">展示且必填</span><br />
                條件: <span *ngIf="categoryAttribute._conditions&&categoryAttribute._conditions.length>0">
                    <span *ngFor="let condition of categoryAttribute._conditions">
                        <span *ngIf="condition.type==='category'" style="cursor:pointer;color:#A300CF;margin:7px 0 0 0;font-weight:900"
                              [innerHTML]="condition.value | highlight: anyLike"
                              (click)="openCategory(condition.id)"></span>
                        <span *ngIf="condition.type==='item'" style="cursor:pointer;color:#1AB394;margin:7px 0 0 0;font-weight:900"
                              [innerHTML]="condition.value | highlight: anyLike"
                              (click)="openItem(condition.id)"></span>
                        <span *ngIf="condition.type==='inventory'" style="cursor:pointer;color:#F8AC59;margin:7px 0 0 0;font-weight:900"
                              [innerHTML]="condition.value | highlight: anyLike"
                              (click)="openInventory(condition.id)"></span><br />
                    </span>
                </span>
            </td>
            <td style="width:28px">
                <div class="AFWDX">
                    <button class="dCJp8 afkep" (click)="more(categoryAttribute)">
                        <span aria-label="選項" class="glyphsSpriteMore_horizontal_outline_24_grey_9 u-_7"></span>
                    </button>
                </div>
            </td>
        </tr>
        <img [appLoadMore]
             *ngIf="!loading&&maxPage!==pageIndex&&maxPage!==0"
             width="32"
             height="32"
             style="margin-top:100px"
             src="assets/white.png"
             (onSeeMe)="load(1000)" />
    </tbody>
</table>

