<h2 mat-dialog-title>
    新增詢價項目
</h2>
<mat-dialog-content class="post-form">
    <mat-form-field>
        <input type="text" placeholder="品項" aria-label="Number" matInput (keyup)="search($event.target.value)" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectMaterial($event.option.value)"  [displayWith]="displayMaterial">
            <mat-option *ngFor="let material of filteredMaterials$ | async" [value]="material">
                <span>{{ material.value }}</span>
                <small> | code: {{material.code}}</small>
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
    <mat-form-field>
        <input matInput placeholder="數量" type="number" [(ngModel)]="enquiry.quantity" />
    </mat-form-field>
    <mat-form-field>
        <textarea matInput placeholder="描述" rows="3" [(ngModel)]="enquiry.quantity" ></textarea>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button color="primary" [mat-dialog-close]="enquiry" cdkFocusInitial>新增</button>
    <button mat-button mat-dialog-close color="warn">取消</button>
</mat-dialog-actions>
